Repository mustafabagdatli/che, changes with the owners that .github/CODEOWNERS names for each.
All owners: @vparfonov, @ashumilova, @benoitf, @riuvshin, @tolusha, @garagatyi, @skabashnyuk, @l0rd, @evidolob, @dkuleshov, @azatsarynnyy

commit
  ide/che-core-ide-api/src/main/java/org/eclipse/che/ide/api/vcs/VcsColor.java
  ide/che-core-ide-api/src/main/java/org/eclipse/che/ide/api/vcs/VcsStatusProvider.java
  ide/che-core-ide-app/src/main/java/org/eclipse/che/ide/part/editor/EditorPartStackPresenter.java
  ide/che-core-ide-app/src/main/java/org/eclipse/che/ide/resources/impl/ResourceManager.java
  ide/che-core-ide-app/src/main/java/org/eclipse/che/ide/resources/tree/ResourceNode.java
  ide/che-core-ide-app/src/test/java/org/eclipse/che/ide/part/editor/EditorPartStackPresenterTest.java
  ide/che-core-ide-ui/src/main/resources/org/eclipse/che/ide/ui/smartTree/TreeStyles.css
  plugins/plugin-git/che-plugin-git-ext-git/src/main/java/org/eclipse/che/ide/ext/git/client/GitChangesHandler.java
  plugins/plugin-git/che-plugin-git-ext-git/src/main/java/org/eclipse/che/ide/ext/git/client/inject/GitGinModule.java
  wsagent/che-core-api-git/src/main/java/org/eclipse/che/api/git/GitModule.java
  wsagent/che-core-api-git/src/main/java/org/eclipse/che/api/git/GitStatusUpdater.java
  wsagent/che-core-api-project-shared/src/main/java/org/eclipse/che/api/project/shared/dto/event/GitChangeEventDto.java
  wsagent/che-core-api-project/src/main/java/org/eclipse/che/api/project/server/ProjectManager.java
  wsagent/che-core-api-project/src/main/java/org/eclipse/che/api/project/server/ProjectService.java
  wsagent/che-core-api-project/src/main/java/org/eclipse/che/api/project/server/handlers/VcsStatusUpdater.java
  wsagent/che-core-api-project/src/test/java/org/eclipse/che/api/project/server/ProjectManagerWriteTest.java
  wsagent/che-core-api-project/src/test/java/org/eclipse/che/api/project/server/WsAgentTestBase.java
  wsagent/che-core-api-project/src/test/java/org/eclipse/che/api/project/server/type/ProjectTypeTest.java
Owners: @vparfonov

Add missed server configs to InstallerDto
  wsmaster/che-core-api-installer/src/main/java/org/eclipse/che/api/installer/server/DtoConverter.java
Owners: @skabashnyuk

Fix location of agent binaries
  assembly/assembly-main/src/assembly/tomcat/conf/server.xml
Owners: @riuvshin, @skabashnyuk

Move installer and output endpoints to api-workspace module
  assembly/assembly-wsmaster-war/src/main/java/org/eclipse/che/api/deploy/WsMasterModule.java
  infrastructures/docker/src/main/java/org/eclipse/che/workspace/infrastructure/docker/DockerInfraModule.java
  infrastructures/docker/src/main/java/org/eclipse/che/workspace/infrastructure/docker/DockerRuntimeContext.java
  wsmaster/che-core-api-workspace/pom.xml
  wsmaster/che-core-api-workspace/src/main/java/org/eclipse/che/api/workspace/server/OutputEndpoint.java
  wsmaster/che-core-api-workspace/src/main/java/org/eclipse/che/api/workspace/server/OutputService.java
  wsmaster/che-core-api-workspace/src/main/java/org/eclipse/che/api/workspace/server/bootstrap/InstallerEndpoint.java
  wsmaster/che-core-api-workspace/src/main/java/org/eclipse/che/api/workspace/server/bootstrap/InstallerService.java
Owners: @riuvshin, @skabashnyuk, @vparfonov, @garagatyi

Rework Bootstrapping to be able to reuse it for different spi implementations
  infrastructures/docker/src/main/java/org/eclipse/che/workspace/infrastructure/docker/Bootstrapper.java
  infrastructures/docker/src/main/java/org/eclipse/che/workspace/infrastructure/docker/DockerInfraModule.java
  infrastructures/docker/src/main/java/org/eclipse/che/workspace/infrastructure/docker/DockerInternalRuntime.java
  infrastructures/docker/src/main/java/org/eclipse/che/workspace/infrastructure/docker/bootstrap/DockerBootstrapper.java
  infrastructures/docker/src/main/java/org/eclipse/che/workspace/infrastructure/docker/bootstrap/DockerBootstrapperFactory.java
  wsmaster/che-core-api-workspace/src/main/java/org/eclipse/che/api/workspace/server/bootstrap/AbstractBootstrapper.java
Owners: @vparfonov, @garagatyi

OpenShift initial implementation
  agents/exec/src/main/resources/org.eclipse.che.exec.script.sh
  agents/terminal/src/main/resources/org.eclipse.che.terminal.script.sh
  assembly/assembly-main/pom.xml
  assembly/assembly-main/src/assembly/assembly.xml
  assembly/assembly-wsmaster-war/pom.xml
  assembly/assembly-wsmaster-war/src/main/java/org/eclipse/che/api/deploy/WsMasterModule.java
  assembly/assembly-wsmaster-war/src/main/webapp/WEB-INF/classes/codenvy/che.properties
  dockerfiles/init/manifests/che.env
  ide/che-core-ide-stacks/src/main/resources/stacks.json
  infrastructures/openshift/pom.xml
  infrastructures/openshift/src/main/java/org/eclipse/che/workspace/infrastructure/openshift/OpenshiftClientFactory.java
  infrastructures/openshift/src/main/java/org/eclipse/che/workspace/infrastructure/openshift/OpenshiftInfraModule.java
  infrastructures/openshift/src/main/java/org/eclipse/che/workspace/infrastructure/openshift/OpenshiftInfrastructure.java
  infrastructures/openshift/src/main/java/org/eclipse/che/workspace/infrastructure/openshift/OpenshiftInternalRuntime.java
  infrastructures/openshift/src/main/java/org/eclipse/che/workspace/infrastructure/openshift/OpenshiftRuntimeContext.java
  infrastructures/openshift/src/main/java/org/eclipse/che/workspace/infrastructure/openshift/RuntimeContextFactory.java
  infrastructures/openshift/src/main/java/org/eclipse/che/workspace/infrastructure/openshift/bootstrapper/OpenshiftBootstrapper.java
  infrastructures/openshift/src/main/java/org/eclipse/che/workspace/infrastructure/openshift/bootstrapper/OpenshiftBootstrapperFactory.java
  infrastructures/openshift/src/main/java/org/eclipse/che/workspace/infrastructure/openshift/environment/OpenshiftEnvironment.java
  infrastructures/openshift/src/main/java/org/eclipse/che/workspace/infrastructure/openshift/environment/OpenshiftEnvironmentParser.java
  infrastructures/openshift/src/main/java/org/eclipse/che/workspace/infrastructure/openshift/exec/PodExecer.java
  infrastructures/openshift/src/main/java/org/eclipse/che/workspace/infrastructure/openshift/provision/OpenshiftEnvironmentProvisioner.java
  infrastructures/pom.xml
  pom.xml
  wsagent/agent/src/main/resources/org.eclipse.che.ws-agent.script.sh
  wsmaster/che-core-api-workspace/src/main/java/org/eclipse/che/api/workspace/server/bootstrap/BootstrapperLogger.java
  wsmaster/che-core-api-workspace/src/main/java/org/eclipse/che/api/workspace/server/spi/RuntimeContext.java
Owners: @tolusha, @riuvshin, @skabashnyuk, @benoitf, @ashumilova, @vparfonov, @garagatyi

Adds a /workspace-logs folder linked to the persistent volume Each pod has a dedicated folder matching the workspace id
  plugins/plugin-docker/che-plugin-openshift-client/src/main/java/org/eclipse/che/plugin/openshift/client/OpenShiftConnector.java
  plugins/plugin-docker/che-plugin-openshift-client/src/main/java/org/eclipse/che/plugin/openshift/client/OpenShiftPvcHelper.java
Owners: @l0rd

commit
  .mvn/jvm.config
  ide/che-core-ide-api/src/main/java/org/eclipse/che/ide/api/parts/EditorTab.java
  ide/che-core-ide-api/src/main/java/org/eclipse/che/ide/api/resources/ResourceChangedEvent.java
  ide/che-core-ide-api/src/main/java/org/eclipse/che/ide/api/resources/ResourceDelta.java
  ide/che-core-ide-api/src/main/java/org/eclipse/che/ide/api/theme/Style.java
  ide/che-core-ide-api/src/main/java/org/eclipse/che/ide/api/theme/Theme.java
  ide/che-core-ide-api/src/main/java/org/eclipse/che/ide/api/vcs/HasVcsStatus.java
  ide/che-core-ide-api/src/main/java/org/eclipse/che/ide/api/vcs/VcsColor.java
  ide/che-core-ide-api/src/main/java/org/eclipse/che/ide/api/vcs/VcsStatus.java
  ide/che-core-ide-app/src/main/java/org/eclipse/che/ide/part/editor/EditorPartStackPresenter.java
  ide/che-core-ide-app/src/main/java/org/eclipse/che/ide/resources/impl/ResourceManager.java
  ide/che-core-ide-app/src/main/java/org/eclipse/che/ide/resources/tree/ResourceNode.java
  ide/che-core-ide-app/src/main/java/org/eclipse/che/ide/theme/DarkTheme.java
  ide/che-core-ide-app/src/main/java/org/eclipse/che/ide/theme/LightTheme.java
  ide/che-core-ide-app/src/test/java/org/eclipse/che/ide/part/editor/EditorPartStackPresenterTest.java
  ide/che-core-ide-ui/src/main/resources/org/eclipse/che/ide/ui/smartTree/TreeStyles.css
  plugins/plugin-git/che-plugin-git-ext-git/src/main/java/org/eclipse/che/ide/ext/git/client/GitChangesHandler.java
  plugins/plugin-git/che-plugin-git-ext-git/src/main/java/org/eclipse/che/ide/ext/git/client/GitResources.java
  plugins/plugin-git/che-plugin-git-ext-git/src/main/java/org/eclipse/che/ide/ext/git/client/inject/GitGinModule.java
  plugins/plugin-git/che-plugin-git-ext-git/src/main/resources/org/eclipse/che/ide/ext/git/client/git.css
  plugins/plugin-java-debugger/che-plugin-java-debugger-server/src/test/java/org/eclipse/che/plugin/jdb/server/JavaDebuggerTest.java
  plugins/plugin-java/che-plugin-java-plain/che-plugin-java-plain-server/src/test/java/org/eclipse/che/plugin/java/plain/server/BaseTest.java
  plugins/plugin-maven/che-plugin-maven-server/src/test/java/org/eclipse/che/plugin/maven/server/BaseTest.java
  plugins/plugin-testing-java/plugin-testing-testng/che-plugin-testing-testng-server/src/test/java/org/ecipse/che/plugin/testing/testng/server/BaseTest.java
  wsagent/che-core-api-git/src/main/java/org/eclipse/che/api/git/GitChangesDetector.java
  wsagent/che-core-api-git/src/main/java/org/eclipse/che/api/git/GitIndexChangedDetector.java
  wsagent/che-core-api-git/src/main/java/org/eclipse/che/api/git/GitModule.java
  wsagent/che-core-api-git/src/main/java/org/eclipse/che/api/git/GitStatusProvider.java
  wsagent/che-core-api-git/src/main/java/org/eclipse/che/api/git/GitStatusUpdater.java
  wsagent/che-core-api-project/src/main/java/org/eclipse/che/api/project/server/DtoConverter.java
  wsagent/che-core-api-project/src/main/java/org/eclipse/che/api/project/server/ProjectManager.java
  wsagent/che-core-api-project/src/main/java/org/eclipse/che/api/project/server/ProjectService.java
  wsagent/che-core-api-project/src/main/java/org/eclipse/che/api/project/server/ProjectServiceVcsStatusInjector.java
  wsagent/che-core-api-project/src/main/java/org/eclipse/che/api/project/server/VcsStatusProvider.java
  wsagent/che-core-api-project/src/test/java/org/eclipse/che/api/project/server/ExtensionCasesTest.java
  wsagent/che-core-api-project/src/test/java/org/eclipse/che/api/project/server/ProjectManagerReadTest.java
  wsagent/che-core-api-project/src/test/java/org/eclipse/che/api/project/server/ProjectServiceTest.java
  wsagent/che-core-api-project/src/test/java/org/eclipse/che/api/project/server/WsAgentTestBase.java
Owners: @vparfonov, @tolusha, @evidolob

.github/CODEOWNERS:

# Global Owners
* @vparfonov

# dashboard
dashboard/** @ashumilova @benoitf

# dockerfiles
dockerfiles/** @riuvshin @benoitf

# ide
ide/che-core-ide-stacks/** @ashumilova

# agents
agents/** @tolusha
agents/go-agents/** @garagatyi

# assembly
assembly/** @riuvshin @skabashnyuk

# core
core/** @skabashnyuk

# plugins
plugins/plugin*debugger/** @tolusha
plugins/plugin-gdb/** @tolusha
plugins/plugin-docker/** @garagatyi
plugins/plugin-docker/che-plugin-openshift-client/** @l0rd
plugins/plugin-java/** @evidolob
plugins/plugin-languageserver/** @evidolob @dkuleshov
plugins/plugin-maven/** @evidolob
plugins/plugin-orion/** @azatsarynnyy
plugins/plugin-testing*/** @evidolob
plugins/plugin-traefik/** @benoitf

# wsmaster
wsmaster/** @skabashnyuk
wsmaster/che-core-api-workspace*/** @garagatyi

# wsagent
wsagent/activity/** @skabashnyuk
wsagent/agent/** @tolusha
wsagent/che-core-api-debug*/** @tolusha
wsagent/che-core-api-languageserver*/** @evidolob @dkuleshov
wsagent/che-core-api-testing*/** @evidolob
wsagent/che-wsagent-core/** @skabashnyuk
wsagent/wsagent-local/** @skabashnyuk
